
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px) and (min-width : 1441px){
    .secondpage{
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 0px;
    }
    .firstpage__centerline{
        width: 2000px;
    }
    .secondpage__topline{
        height: 60px;
    }
    .secondpage__toplnex{
        height: 64px;
        width: 650px;
    }
    .secondpage__min{
        left: auto;
        right: 160px;
    }
    .secondpage__mid{
        left: auto;
        right: 130px;
    }
    .secondpage__top{
        left: auto;
        right: 100px;
    }
    .secondpage__back img{
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
    }
    .secondpage__text{
        left: auto;
        right: 100px;
        width: 500px;
    }
    .secondpage__blackline{
        left: auto;
        right: 205px;
    }

    .trpage__back img{
        width: 100%;
    }
    .trpage__text{
        top: 602px;
        left: 500px;
    }
} 

@media only screen and (max-width : 1366px) and (max-height : 1024px){
    .secondpage__back img{
        width: 121%;
    }
    .trpage__back img{
        width: 181%;
    }
    .fullscreen-bg__video {
        width: 121%;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1366px){
    .secondpage{
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 0px;
    }
    .secondpage__topline{
        height: 60px;
    }
    .secondpage__toplnex{
        height: 64px;
        width: 650px;
    }
    .secondpage__min{
        left: auto;
        right: 160px;
    }
    .secondpage__mid{
        left: auto;
        right: 130px;
    }
    .secondpage__top{
        left: auto;
        right: 100px;
    }
    .secondpage__back img{
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
    }
    .secondpage__text{
        left: auto;
        right: 100px;
        width: 500px;
    }
    .secondpage__blackline{
        left: auto;
        right: 205px;
    }

    .trpage__back img{
        width: 100%;
    }
    .trpage__text{
        top: 602px;
        left: 500px;
    }
}
@media only screen and (max-width : 1124px){
    .footmenu__links{
        top:30px;
        font-size: 23pt;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 940px){
    .fullscreen-bg__video {
        width: 121%;
    }
    .firstpage__logo img{
        width: 300px;
    }
    .firstpage__text{
        font-size: 26pt
    }
    .firstpage__footmenu{
        height: 60px;
        top: calc(100% - 60px);
    }
    .footmenu__links{
        left: 60px;
        top: 14px;
        font-size: 20pt;
    }
    .footmenu__contacts{
        right: 30px;
        top:16px;
    }
    .footmenu__contacts img{
        width: 30px;
        margin-left: 10px;
    }
    .firstpage__createdby{
        top: calc(100% - 103px);
    }
    /* .secondpage__back img{
        width: 113%;
        filter: brightness(0.5)
    } */
    .secondpage__overflow{
        opacity: 0.3;
    }
    .secondpage__text{
        right: calc(50% - 256px);
        top: 85px;
    }
    .secondpage__blackline{
        right: calc(50% - 154px);
    }
    .sec2page__text{
        top: 125px;
        z-index: 4;
    }

    .trpage__back img{
        width: 121%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px){
    .fullscreen-bg{
        display: none;
    }
    section{
        min-height: 320px;
    }
    .leftline{
        left: 10px;
    }
    .firstpage__logo img{
        top: 90px;
        left: 65px;
        right: auto;
    }
    .firstpage__text{
        top: 90px;
        left: 65px;
    }
    .fullscreen-bg{
        display: none;
    }
    .firstpage__backph{
        display: block;
    }
    .firstpage__backph img{
        position: absolute;
        width: 300%;
    }
    .footmenu__links{
        top: 23px;
        font-size: 10.6pt;
        left: 30px;
    }
    .footmenu__contacts{
        right: 13px;
    }
    .secondpage__back img{
        width: 250%;
    }
    .secondpage__text{
        top: 120px;
        width: 400px;
        right: calc(50% - 208px);
    }
    .secondpage__text h1{
        font-size: 20pt;
    }
    .secondpage__text h2{
        font-size: 17pt;
    }
    .secondpage__min{
        left: auto;
        right: 78px;
    }
    .secondpage__mid{
        left: auto;
        right: 48px;
    }
    .secondpage__top{
        left: auto;
        right: 18px;
    }
    .sec2page__back img{
        width: 230%;
        left: -500px;
    }
    .sec2page__text{
        width: 390px;
        left: 20px;
        font-size: 13pt;
        top: 160px;
    }
    .trpage__back img{
        width: 230%;
        left: -380px;
    }
    .trpage__topline{
        padding-left: 20px;
        font-size: 20pt;
    }
    .trpage__midline{
        padding-left: 20px;
        font-size: 20pt;
    }
    .trpage__downline{
        padding-left: 20px;
        font-size: 20pt;
    }
    .trpage__logo img{
        left: 25px;
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 380px){
    .firstpage__logo img{
        width: 260px;
    }
    .firstpage__text{
        width: 260px;
        font-size: 22pt
    }
    .footmenu__links{
        top: 23px;
        font-size: 9pt;
        left: 30px;
    }
    .sec2page__text{
        top:125px;
        width: 340px;
        font-size: 12pt;
        right: calc(50% - 178px);
    }
    .secondpage__text h1{
        font-size: 20pt;
    }
    .secondpage__text h2{
        width: 300px;
        font-size: 14pt;
        margin-left: 48px;
    }
    .trpage__topline{
        padding-left: 17px;
        font-size: 17pt;
    }
    .trpage__midline{
        padding-left: 17px;
        font-size: 17pt;
    }
    .trpage__downline{
        padding-left: 17px;
        font-size: 17pt;
    }

}

@media only screen and (max-width : 320px){
    .firstpage__logo img{
        width: 200px;
    }
    .firstpage__text{
        width: 230px;
        font-size: 17pt
    }
    .footmenu__contacts{
        top: 20px;
    }
    .footmenu__contacts img{
        margin-left: 2px;
        width: 20px;
    }
    .footmenu__links{
        top: 23px;
        font-size: 8pt;
        left: 20px;
    }
    .sec2page__text{
        width: 300px;
        font-size: 9pt;
        right: calc(50% - 178px);
    }
    .secondpage__text h1{
        font-size: 17pt;
    }
    .secondpage__text h2{
        width: 300px;
        font-size: 14pt;
        margin-left: 48px;
    }
    .trpage__topline{
        padding-left: 17px;
        font-size: 15pt;
    }
    .trpage__midline{
        padding-left: 17px;
        font-size: 15pt;
    }
    .trpage__downline{
        padding-left: 17px;
        font-size: 15pt;
    }
    .trpage__logo{
        display: none;
    }
}